.centered
{
    text-align: center;
}

.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}

main
{
    max-width: 500px;
    margin: 0 auto;
}

footer { 
    color: #666; 
    font-size: small; 
}